/*-------------Common variables-------------*/
:root {
  --background-color: #2f303a;
  --logo-header-color: #000000;
  --main-title-color: #ffffff;
  --accent-text-color: #2196f3;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --addres-text-color: rgba(255, 255, 255, 0.6);
  --footer-logo-color: #ffffff;
  --button-main-color: #f5f4fa;
  --icon-main-color: #afb1b8;
}

/*-------------Reset styles-------------*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

/*-------------General style-------------*/
body {
  font-family: Roboto, sans-serif;
  color: var(--first-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*-------------Header content-------------*/
.header {
  padding: 25px 0 25px 0;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list__item:not(last-child) {
  margin-right: 50px;
}

.contacts-list__item:not(last-child) {
  margin-right: 50px;
}

.header-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-text-color);
}

.header-list__link.current-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  left: 0;
  bottom: -32px;
  border-radius: 2px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-text-color);
}

.contacts-list__icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: Raleway;
}

.logo .logo-span {
  color: var(--accent-text-color);
}

.logo-black {
  color: var(--first-text-color);
  margin-right: 95px;
}

.logo-white {
  color: var(--main-title-color);
}

.container {
  position: relative;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-------------Title content-------------*/
.hero {
  background-color: var(--background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-page/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  padding: 200px 0 200px 0;
}

.title-container {
  width: 700px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--main-title-color);
  text-align: center;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  border: 0;
  color: var(--main-title-color);
  background: var(--accent-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.button:hover, .button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*-------------Features content-------------*/
.features__list {
  display: flex;
  justify-content: space-between;
  align-items: "";
}

.features__item {
  width: 270px;
}

.features-icon-container {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-main-color);
}

.features__icon {
  width: 65px;
  height: 70px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 10px;
}

.sub__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/*-------------Activity content-------------*/
.activity {
  padding-top: 0px;
}

.activity__list {
  display: flex;
  justify-content: space-between;
  align-items: "";
}

.activity__item {
  position: relative;
}

.activity-container-text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}

/*-------------Our team content-------------*/
.team {
  background-color: var(--button-main-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-container__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-container__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 15px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: "";
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-text-color);
  color: var(--main-title-color);
}

.footer__link {
  background-color: #43444d;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer__icon {
  fill: var(--main-title-color);
}

/*-------------Clients content-------------*/
.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: "";
}

.clients__item {
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-main-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
  border-color: var(--accent-text-color);
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus, .clients__link:hover {
  color: var(--accent-text-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/*-------------Footer content-------------*/
.footer {
  background: var(--background-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
}

.address__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
}

.address__list {
  margin-top: 20px;
}

.address__item {
  margin-bottom: 10px;
}

.mailtel-link {
  color: var(--addres-text-color);
}

.footer-address {
  display: flex;
}

.footer-social-container {
  margin-left: 70px;
  padding-top: 12px;
}

.footer-mail-container {
  position: absolute;
  right: 15px;
  padding-top: 12px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.title-social {
  margin-bottom: 20px;
}

.newsletter {
  display: flex;
  margin-top: 20px;
}

.newsletter__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  width: 360px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
  background-color: var(--background-color);
  color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__text:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.newsletter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.newsletter__icon {
  margin-left: 10px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(10) rotate(180deg);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotateX(180deg);
  transform: translate(-50%, -50%);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.button-close__icon {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close__icon:hover, .button-close__icon:focus {
  fill: var(--accent-text-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form__container {
  margin-bottom: 10px;
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-text-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-text-color);
}

.modal-form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: block;
  color: var(--second-text-color);
}

.textarea {
  margin-bottom: 20px;
}

.textarea__input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea__input:focus {
  border-color: var(--accent-text-color);
}

.textarea__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 30px;
}

.checkbox__policy {
  position: absolute;
  opacity: 0;
}

.checkbox__policy:checked + .checkbox__text .checkbox__custom {
  border: 0;
  background-color: var(--accent-text-color);
}

.checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--second-text-color);
}

.checkbox__custom {
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox__icon {
  fill: var(--main-title-color);
}

.checkbox__link {
  color: var(--accent-text-color);
  padding-left: 2px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: "";
  margin-bottom: 50px;
}

.filter__item {
  margin-right: 10px;
}

.filter__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  height: 40px;
  background: var(--button-main-color);
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background: var(--accent-text-color);
  color: var(--main-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.portfolio-list__link {
  display: block;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__link:hover .description {
  transform: translateY(-100%);
}

.portfolio-list__image {
  position: relative;
  overflow: hidden;
}

.description {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  padding: 63px 23px;
}

.caption {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.caption__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.caption__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/*# sourceMappingURL=main.css.map */