/*-------------Activity content-------------*/
.activity {
  padding-top: 0px;
}

.activity__list {
  @include flex(flex, space-between);
}

.activity__item {
  position: relative;
}

.activity-container-text {
  position: absolute;
  bottom: 0;

  @include flex(flex, center, center);
  @include dimentions(100%, 70px);

  background-color: rgba(47, 48, 58, 0.8);
}

.activity__text {
  @include font(700, 14px, 1.14, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}

// БЭМ ГОТОВО!
