/*-------------Header content-------------*/
.header {
  padding: 16px 0 16px 0;
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 768px) {
    padding: 26px 0 26px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 25px 0 25px 0;
  }
}

.header-container {
  @include flex(flex, center, center);
}

.header-nav {
  display: none;
  @media screen and (min-width: 768px) {
    @include flex(flex, center, center);
  }
}

.header-list {
  display: flex;
}

.header-list__item:not(last-child) {
  margin-right: 50px;
}

.header-list__link {
  @include font(500, 14px, 1.14, 0.02em);
  color: var(--first-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
  &.current-link::after {
    @media screen and (min-width: 768px) {
      position: absolute;
      content: '';
      @include dimentions(100%, 4px);
      background-color: var(--accent-text-color);
      left: 0;
      bottom: -41px;
      border-radius: 2px;
    }
    @media screen and (min-width: 1200px) {
      bottom: -33px;
    }
  }
}

.contacts-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: -10px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
}

.contacts-list__item {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.contacts-list__link {
  @media screen and (min-width: 768px) {
    @include font(500, 12px, 1.16, 0.02em);
    color: var(--second-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
  }
  @media screen and (min-width: 1200px) {
    @include font(500, 14px, 1.14, 0.02em);
  }
}

.contacts-list__icon {
  @include dimentions(16px, 12px);
  fill: currentColor;
  margin-right: 10px;
}

.open-mob {
  padding: 0;
  background-color: transparent;
  border: 0;
  @include dimentions(40px, 40px);
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.open-mob__icon {
  @include dimentions(100%, 100%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}

.mob-menu-container {
  @include dimentions(100vw, 100vh);
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
  padding-top: 48px;
  padding-bottom: 48px;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
  }
}

.button-mob-close {
  display: block;
  position: absolute;
  background-color: transparent;
  border: 0;
  top: 21px;
  right: 25px;
}

.mob-menu__item {
  &:not(:last-child) {
    margin-bottom: 36px;
  }
}

.mob-menu__link {
  @include font(500, 40px, 1.175, 0.02em);
  color: var(--first-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.mob-contacts__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 64px;
  }
}

.mob-tel {
  @include font(500, 34px, 1.17, 0.02em);
  color: var(--accent-text-color);
}

.mob-email {
  @include font(500, 24px, 1.16, 0.02em);
  color: var(--second-text-color);
}

.mob-social {
  display: flex;
}

.mob-social__item {
  &:not(:last-child)::after {
    content: '';
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    margin-right: 10px;
  }
}

.mob-social__link {
  @include font(500, 18px, 1.22, 0.02em);
  color: var(--accent-text-color);
}
// БЭМ ГОТОВО!
