/*-------------Common variables-------------*/
:root {
  --background-color: #2f303a;
  --logo-header-color: #000000;
  --main-title-color: #ffffff;
  --accent-text-color: #2196f3;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --addres-text-color: rgba(255, 255, 255, 0.6);
  --footer-logo-color: #ffffff;
  --button-main-color: #f5f4fa;
  --icon-main-color: #afb1b8;
}
